<div class="container">
  <div class="card grey lighten-5">
    <div class="card-content">
      <div class="card-title">Sign up</div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {multipart: true, autocomplete: "off"}) do |f| %>
        <%= devise_error_messages! %>

        <div class="row">
          <div class="input-field col s12">
          <%= f.email_field :email, autofocus: true %>
          <label for="email">Email Address:</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= f.password_field :password, autocomplete: "off" %>
            <label for="password">Password 
              <% if @minimum_password_length %>
                (<%= @minimum_password_length %> characters minimum)
              <% end %>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
            <label for="password_confirmation">Password Confirmation:</label>
          </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>Avatar</span>
                    <%= f.file_field :avatar %><br>
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col s12">
            <div class="actions">
              <%= f.submit "Sign up", class:'btn' %>
            </div>
          </div>  
        </div>

      <% end %>
      <hr>
      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
