<div class="container">
  <div class="card grey lighten-5">
    <div class="card-content">
      <div class="card-title">Log In</div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

       <div class="row">
          <div class="input-field col s12">
            <label for="email">Email Address:</label>
            <%= f.email_field :email, autofocus: true, autocomplete: :off %>
        </div>
      </div>

      <div class="row">
          <div class="input-field col s12">
            <%= f.password_field :password, autocomplete: :off %>
            <label for="password">Password</label>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class:'btn' %>
        </div>
      <% end %>
      <hr>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

