<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Mixcritic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-controller="MainController as MainCtrl">
  <div class="container">
    <div class="row slim vertical-align">
      <div class="col s4 valign-wrapper">
        <div class="valign"><%= link_to (image_tag('main/logo-revised.png', class:'smaller-img')), root_path %></div>
      </div>
      <div class="col s4 valign-wrapper">
        <div class="text-center">
         <a class="waves-effect btn-flat btn-large" href="<%=new_mix_path%>"><i class="material-icons left">add</i>New Mix</a>
         <a class="waves-effect btn-flat btn-large" href="<%=mixes_path%>"><i class="material-icons left">album</i>Mixes</a>
        </div>
      </div>
      <div class="col s4 valign-wrapper">
        <div class="valign"><%= render 'layouts/header' %></div>
      </div>
    </div>
  </div>
  <hr class="thin-hr">


  <br><br>
  <div class="container">
  <alerts></alerts>
      <%= yield %>
  </div>

</body>
</html>
